@import "header";
@import "main";
@import "footer";



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    background-color: rgb(101, 173, 173);
}

.formulario{
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: rgb(101, 173, 173);
    margin: 10px;
}

.pagos{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: rgb(101, 173, 173);
    margin: 10px;
}

